{% extends "base.html" %}

{% block content %}
    <div id="content-container">
      <div class="container">
	      <section id="content">	      
		      <section id="faqs" class="col ten">
		        <h3>
		          FREQUENTLY ASKED QUESTIONS
		        </h3>
		        <h4 id="cost">
		          So how much do I end up paying?
		        </h4>
		        <p>
		          You pay nothing to us for the service. However the nos used by smstweet belongs to Mumbai &amp; Bangalore. If your phone nos belongs to these cities it costs the same as a local sms. However if you live outside of these cities &mdash; it costs the same as a national sms. Different providers have various schemes and packs which could make sending an sms cheaper or even free. For example Reliance charges 1p/sms.
		        </p>
		        <h4 id="time-lag">
		          How long does it take to post the tweet?
		        </h4>
		        <p>
		          The time it takes to post your tweet depends on two factors. Mainly the time it takes for your sms to arrive at our nos and then how fast our application can post your tweet. The second factor is an important one because Twitter does have it's fail whale moments.
		        </p>
		        <h4 id="keywords">
		          Why do I have to type 'twt' before my tweet?
		        </h4>
		        <p>
		          We know it can be quite irritating to type 'twt' every time you want to tweet. However at present it is required to enable SMSgupshup to identify smstweet as the recipient application. Otherwise your tweet could get lost. There is another benefit &mdash; you will never tweet a message that was meant for somebody &mdash; because without the keyword 'twt' it's not a tweet.
		        </p>
		        <h4 id="localnos">
		          I live in state X why don't you have a local number here?
		        </h4>
		        <p>
		          In due time we may have a local number for every city. However for the time being only two numbers are available. Moreover various providers have schemes and sms packs which could make sending an sms cheaper or even free. For example Reliance charges 1p/sms. The price war between providers could negate the need for local numbers in every state. So keep your fingers crossed.
		        </p>
		        <h4 id="profit">
		          How much are your earning on every tweet I send?
		        </h4>
		        <p>
		          Nothing. Zero. Nil. Simply put this service is offered completely free of cost. There are no advertisements and as of now no plans to have any. We don't have any big funding or tie ups with network providers. The only cost you have to incur is the charge of a local/nation sms. The only profit we get is the happiness of having people actually use our application.
		        </p>
		        <h4 id="dms">
		          Why can't I send or recieve Direct Messages?
		        </h4>
		        <p>
		          This feature has been requested quite often. This service started as an experiment but as more users start using smstweet, more features will be added. Direct Messages is one of such features that is in the pipeline.
		        </p>            
		      </section>
		      <section id="press" class="col six">
		         <h3>
		          QUICK INFO
		        </h3>
            <p>
              You can use any one of the following numbers to send your smstweets.
            </p>
            <ul>
              <li><strong>09220092200</strong> (Mumbai)</li>
              <li><strong>09243000111</strong> (Bangalore)</li>
            </ul>
            <p class="note">
              *If you live in one of the above cities then use the local number.
            </p>
            <p class="note">
              *If you don't live in any of the above cities then you will be sending a national SMS. Consult your service provider for the respective charges.
            </p>
          </section>
		      <br />
		    </section>	      
		  </div>
		</div>
{% endblock %}
