{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/visualize.jQuery.css"/>
    <script src="/javascripts/visualize.jQuery.js" type="text/javascript"></script>
    <script>
      $(document).ready(function () {
        $('#graph').visualize({ type: 'line',
                                width: 900,
                                height: 400
                              });
      });
    </script>
{% endblock %}

{% block content %}

<div class="col_16">
  <table id="graph" style="display:none">
    <caption>Number of Tweets by day</caption>
    <thead>
      <tr>
        <td></td>
        {% for s in stats reversed %}
        <th>{{s.created_at|date:"M"}} {{s.created_at.day}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Tweets</th>
        {% for s in stats reversed %}
        <td>{{s.tweets}}</td>
        {% endfor %}
      </tr>

      <tr>
        <th>New Users</th>
        {% for s in stats reversed %}
        <td>{{s.users}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
