{% extends "base.html" %}

{% block content %}

      <div class="col_8">
        <h3>
          Frequently Asked Questions
        </h3>
        <h4 id="cost">
          So how much do I end up paying?
        </h4>
        <p>
          You pay nothing to us for the service. However the nos used by <em>sms</em>tweet belongs to Mumbai & Bangalore. If your phone nos belongs to these cities it costs the same as a local sms. However if you live outside of these cities &mdash; it costs the same as a national sms. Different providers have various schemes and packs which could make sending an sms cheaper or even free. For example Reliance charges 1p/sms.
        </p>
        <h4 id="time-lag">
          How long does it take to post the tweet?
        </h4>
        <p>
          The time it takes to post your tweet depends on two factors. Mainly the time it takes for your sms to arrive at our nos and then how fast our application can post your tweet. The second factor is an important one because Twitter does have it's fail whale moments.
        </p>
        <h4 id="keywords">
          Why do I have to type 'twt' before my tweet?
        </h4>
        <p>
          We know it can be quite irritating to type 'twt' every time you want to tweet. However at present it is required to enable SMSgupshup to identify <em>sms</em>tweet as the recipient application. Otherwise your tweet could get lost. There is another benefit &mdash; you will never tweet a message that was meant for somebody &mdash; because without the keyword 'twt' it's not a tweet.
        </p>
        <h4 id="localnos">
          I live in state X why don't you have a local number here?
        </h4>
        <p>
          In due time we could have a local number everywhere. However for the time being only two numbers are available. Different providers have various schemes and packs which could make sending an sms cheaper or even free. For example Reliance charges 1p/sms. The price war between providers could negate the need for local numbers in every state. So keep your fingers crossed.
        </p>
      </div>
      <div class="col_6">
        <h3>
          Guide to <em>sms</em>tweet
        </h3>
        <p>
          No longer depend on your web browser or a twitter client. No need to install any software on your phone or use Internet on your phone. No need to pay premium rates to your network provider. Just send an sms at normal rates to tweet your thoughts.
        </p>
        <p>
        </p>
      </div>

      <br />

{% endblock %}
