{% extends "base.html" %}

{% block content %}
    <div id="content-container">
      <div class="container">
	      <section id="content">	      
	        <section id="lead">
	          <h3>
	            TWEETING THE WAY IT WAS MEANT TO BE
	          </h3>
	          <h3 class="lead">
	            Twitter is meant to be used via mobile phones through SMS. Unfortunately in India, only one provider &mdash; <a href="http://www.airtel.in" title="Airtel homepage">Airtel</a> &mdash; provides this service. If you use any other network you will need Internet enabled on your phone to tweet. We aim to help you tweet using any provider, without Internet enabled, through a simple sms.
	          </h3>
	        </section>
		      <section id="about" class="col ten" style="overflow: hidden;">
            <h3>
		          SMSTWEET COMMANDS
		        </h3>
            <p>
              Once you have registered with Smstweet you can start using the following commands to interact with <a href="http://www.twitter.com" title="Twitter">Twitter</a>.
            </p>
<br />
            <img src="images/tweet.jpg" width="100px" height="90px" style="float:left; padding-right: 10px;"/>
            <h4>TWT message</h4>
            <p>
              Use this command to post a tweet to your profile. The message must be 140 chars or less. You will get the most recent mention of yours in reply on successful posting.
            </p>

<br />
            
            <img src="images/tweet.jpg" width="100px" height="90px" style="float:left; padding-right: 10px;"/>
            <h4>TWUP [N] [username]</h4>
            <p>
              Returns most recent tweet from your home timeline. If N, a number from 1 to 100, is specified then the N<sup>th</sup> tweet will be returned. If username, any user that you follow, is specified then recent tweet from this user will be returned.
            </p>

<br />

            <img src="images/tweet.jpg" width="100px" height="90px" style="float:left; padding-right: 10px;"/>
            <h4>TWME [N]</h4>
            <p>
              Returns most recent mention of yours. If N, a number from 1 to 100, is specified then the N<sup>th</sup> tweet with your mention will be returned.
            </p>

<br />

            <img src="images/tweet.jpg" width="100px" height="90px" style="float:left; padding-right: 10px;"/>
            <h4>TWDM [N]</h4>
            <p>
              Returns most recent direct message (DM) that you have recieved. If N, a number from 1 to 100, is specified then the N<sup>th</sup> direct message (DM) is returned.
            </p>
            
		      </section>
		      <section id="press" class="col six">
		         <h3>
		          SERVICE NUMBERS
		        </h3>
            <p>
              You can use any one of the following numbers to send your smstweets.
            </p>
            <ul>
              <li><strong>09220092200</strong> (Mumbai)</li>
              <li><strong>09243000111</strong> (Bangalore)</li>
            </ul>
            <p class="note">
              *If you live in one of the above cities then use the local number.
            </p>
            <p class="note">
              *If you don't live in any of the above cities then you will be sending a national SMS. Consult your service provider for the respective charges.
            </p>
          </section>
		      <br />
		    </section>	      
		  </div>
		</div>

{% endblock %}
