{% extends "base.html" %}

{% block content %}

      <div class="col_8">
        <h3>
          Updates from behind the scenes
        </h3>
        <h4>
          A completed help page and a few more tweaks.
          <span class="date">Dec 25 2009</span>
        </h4>
        <p>
          We now have a <a href="/help" title="Help with smstweet">help page</a> that is complete with a guide and FAQ's. Also a few tweaks were made to the web site text &mdash; hopefully making it easier to understand what the service is and how to use it. If something isn't working the way it should feel free to tweet <a href="http://www.twitter.com/smstweetin" title="smstweetin on Twitter">@smstweetin</a>, <a href="http://www.twitter.com/mayanks" title="Mayank on Twitter">@mayanks</a> or <a href="http://www.twitter.com/rohitarondekar" title="Rohit on Twitter">@rohitarondekar</a>.
        </p>
      </div>
      <div class="col_6">
        <h3>
          Press mentions for <em>sms</em>tweet
        </h3>
        <p>
          “Social networking and micro-blogging site Twitter.com has been gaining popularity in India with news channels and entertainment channels alike using the service to get impromptu opinions on all topics under the sun.”
          <br />
          <a href="http://www.dnaindia.com/scitech/report_tweeting-via-sms-is-in-the-way-it-should-be_1324562" title="Tweeting via SMS is in, the way it should be - dnaindia.com">DNA News Website & Print(Bangalore Edition)</a>
        </p>

        <p>
          “Yesterday I came across a wonderful and innovative service called SMStweet.in which is an extremely easy-to-use and effective service to send tweets using mobile phone SMS.”
          <br />
          <a href="http://www.sitestouse.com/smstweet-in-tweet-from-any-mobile-phone-via-sms/" title="
Sites To Use">
Sites To Use</a>
        </p>

        <p>
          “You don’t really need an internet enabled cell phone – an old model phone or phones that fits your budget can use smstweet to make tweets instantly which works to your advantage!”
          <br />
          <a href="http://bangaloreloka.com/2009/bangalore-startups/smstweet-tweeting-service-for-non-internet-mobile-phones-in-bangalore.html" title="
Smstweet – Tweeting Service For Non Internet Mobile Phones in Bangalore">
Smstweet – Tweeting Service For Non Internet Mobile Phones in Bangalore</a>
        </p>

        <p>
          “Last day I stumbled over a fresh and amazing service called SMSTweet. What’s amazing is the simplicity of the concept and that its not backed by any Mobile service provider.”
          <br />
          <a href="http://www.millionclues.com/reviews/website-reviews/twitter-on-sms" title="Update Twitter via SMS at No Extra Cost | Website Reviews">Update Twitter via SMS at No Extra Cost | Website Reviews</a>
        </p>        

        <p>
          “The most convenient way to control the PC/System, while you are not at home is controlling it by SMS. Not only Home it can be Office also, in a way you can say controlling the computer wirelessly or remotely. This feature can be widely implemented in the ”
          <br />
          <a href="http://www.tech-tweak.net/2009/12/control-your-computer-through-sms-free.html" title="Control your computer through SMS - Free of Cost">Control your computer through SMS - Free of Cost</a>
        </p>

        <p>
          “A month back, Twitter and AirTel joined hands to offer Twitter via SMS, and the service was available exclusively to Bharti AirTel customers. Moreover, customers were charged premium rates for every SMS.”
          <br />
          <a href="http://www.josephcs.com/blog/update-twitter-via-sms-free/" title="Update your Twitter via SMS at No Extra Cost">Update your Twitter via SMS at No Extra Cost</a>
        </p>

        <p>
          “SMStweet as the name says, lets you tweet through SMS. Why is this a big deal when there’s already a service offered by an Indian service provider? Well, for once this isn’t tied to a particular network."
          <br />
          <a href="http://www.twi5.com/smstweet-indian-twitter-users-can-now-use-twitter-via-regular-sms/7751/" title="SMStweet – Indian twitter users can now use twitter via regular SMS!">SMStweet – Indian twitter users can now use twitter via regular SMS!</a>
        </p>

        <p>
          “Mayank Sharma has launched a service SMSTWEET which will enable its users to tweet via SMS. Those using Reliance Mobile's SMS scheme will surely gonna enjoy this.”
          <br />
          <a href="http://mobigyaan.com/now-tweet-twittercom-via-sms-without-paying-premium-rates" title="Now tweet (twitter.com) via SMS without paying Premium Rates">Now tweet (twitter.com) via SMS without paying Premium Rates</a>
        </p>
      </div>
      <br />

{% endblock %}
