/*
  SMStweet
  URL:
  Author: Rohit Arondekar
  Author URL: http://rohitarondekar.com
*/

/*
  Reset
*/

* {
  padding: 0;
  margin: 0;
}

/* 
  Layout-Grid
*/

#container {
  width:  960px;
  margin: 0 auto;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_13, .col_14, .col_15, .col_16 {
  float: left;
  margin: 0 10px;
}

/* width = 60 * nos_of_cols - 20*/

.col_1 {
  width: 40px;
}

.col_2 {
  width: 120px;
}

.col_3 {
  width: 160px;
}

.col_4 {
  width: 220px;
}

.col_5 {
  width: 280px;
}

.col_6 {
  width: 340px;
}

.col_8 {
  width: 460px;
}

.col_16 {
  width: 940px;
}

br {
  clear: both;
}

div.row {
  clear: left;
}

/*
  Layout-Layout
*/

a img {
  border: 0;
}

#slogan {
  margin: 18px 10px;
}
div#header {
  margin-top: 5px;
}

div#content {
 background-color: #ececd0;
 padding: 10px 40px;
 margin: 0 10px;
}

div#nav ul, div#nav li {
  font-size:  1.3em;
  width: 100%;
  font-family:  verdana, "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
  font-weight:  bold; 
  list-style:  none;
  float:  left;
  padding: 0;
}

div#nav ul li {
  line-height: 15px;  
  text-align:  left;
  width: 12%;
  margin: 15px 0;
  padding-top: 52px;
  padding-left: 50px;
}

div#nav ul {
  margin-bottom: 0;
}

div#nav a {
  color:  #999;
  text-decoration: none;
}

div#nav a:active {
  color: #555;
  text-decoration: none;
}

div#nav a:hover {
  color: #0077cc;
  text-decoration: none;
}


/*
  Typography
*/

body {
  font-size:  62.5%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
  line-height:  15px;
}

html>body {
  font-size:  10px;
}

h1#logo {
  margin-bottom: 10px;
}

h3 {
  color: #333;
  font-size: 1.8em;
  font-weight: bold;
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

h4 {
  color: #333;
  font-size: 1.4em;
  font-weight: bold;
  margin: 15px 0;
  padding: 0 2px;
}

p {
  color: #444;
  font-size: 1.1em;
  margin: 15px 0;
  font-family: verdana, sans-serif;
  text-align: justify;
  padding: 0 2px;
}

p.count {
  font-family: "Courier New", monospace;
  font-size: 1.8em;
  line-height: 15px;
  background: #000;
  color: #fff;
  margin: 15px 0 17px 0;
  padding: 5px 5px 8px 5px;
  text-align: center;
  font-weight: bold;
}

label {
  color: #444;
  font-size: 1.1em;
  margin: 15px 0;
  font-family: verdana, sans-serif;
  text-align: justify;
  padding: 0 2px;
}

input {
  color: #444;
  font-size: 1.2em;
  margin: 4px 2px;
  font-family: verdana, sans-serif;
  text-align: justify;
  padding: 1px 1px 2px 1px;
}

input[type="submit"] {
  font-size: 1.1em;
}

.nos {
 color: #0000ff;
}

.date {
  color: #999;
  text-align: justify;
  padding: 0 2px;  
}

ul {
  list-style: none;
  margin: 15px 0;
}

li {
  color: #444;
  font-size: 1.1em;
  font-family: verdana, sans-serif;
  text-align: justify;
  padding: 0 2px;
}

a {
  color:  #0077cc;
  text-decoration:  none;
}

a:hover {
  color:  #222;
  text-decoration:  none;
}

#footer p {
  font-size: 1em;
  color:  #BBB;
  text-align:  center;
}

#footer a {
  color:  #999;
  text-decoration:  none;
}

#footer a:hover {
  color:  #222;
  text-decoration:  none;
}

div.avatar {
  float:left;
  margin: 0 8px 10px 0;
}

div.avatar img {
  height: 48px;
  width: 49px;
}

.tweeter {
  font-weight: bold;
  color: #003DE8;
  display: block;
}

.flash-msg {
  background-color:#fff;
  color:#000;
  font-weight:bold;
  font-family: "Times New Roman", Serif;
  font-size: 16px;
  margin:5px 10px;
  padding:5px 10px;
}

