/*
  Reset
*/
* {
  padding: 0;
  margin: 0;
}

/*
* display block for HTML5 elements. Only required for old browsers.
*/
article, aside, footer, header, nav, section {  display: block; }

/*
  Layout
*/

body {
/*
  background: url('../images/bg.gif');
*/
}

.col {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
}

/*
  Column widths
  width = 60 * nos of cols - 20
*/
.one { width: 40px; }
.two { width: 100px; }
.three { width: 160px; }
.four { width: 220px; }
.five { width: 280px; }
.six { width: 340px; }
.seven { width: 400px; }
.eight { width: 460px; }
.nine { width: 520px; }
.ten { width: 580px; }
.eleven { width: 640px; }
.twelve { width: 700px; }
.thirteen { width: 760px; }
.fourteen { width: 820px; }
.fifteen { width: 880px; }
.sixteen { width: 940px; }

br { clear: both; }

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

#logo, header { background-color: #333; }
#banner-container, #banner { background-color: #efefef; }

#banner-container {
  padding: 18px 0 16px 0;
  border-bottom: 2px solid #eee;
}

#content-container {
  padding: 16px 0 18px 0;
  border-top: 2px solid #efefef; 
}

/*
  Navigation
*/
nav ul, nav li {
  float: left;
  list-style: none;
  margin-top: 18px;
  padding-left: 0;
}

nav ul li a:link, nav ul li a:visited {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 115px;
  padding: 5px 20px;
  margin: 0px 10px;
}

nav ul li a:hover, nav ul li a.current {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  color: #00ccff;
}

ul { padding-left: 18px; }

a img { border: 0; }

/*
  Typography
*/

body {
  font-size: 62.5%;
  font-family:  Verdana, Geneva, sans-serif;
  line-height: 18px;
}

html>body { font-size: 10px; } /* IE hack */

h1 { font-size: 44px; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }
p, ul li { font-size: 1.2em; }


h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; }

h1 {
  color: #111; 
  margin: 18px 0 18px 0;
  line-height: 64px;
}


h2 {
  color: #787878;
  margin: 18px 0 18px 0;
  line-height: 28px;
}

h3 {
  color: #444;
  margin: 18px 0 18px 0;
  line-height: 24px;
}

h4 { color: #555; margin: 18px 0 -18px 0; }

h5, h6 { 
  color: #555;
  margin: 18px 0 18px 0;
}

p {
  color: #666;
  margin: 18px 0 18px 0;
  font-family: verdana, arial, sans-serif;
}

ul li {
  font-family: verdana, arial, sans-serif;
  color: #666;
}

a {
  color: #00ccff;
  text-decoration: none;
}

a:hover {
  color: #6a6a6a;
  background-color: #f0f0f0;
}

/*
  Typography-IDS
*/
#banner h3 { font-family: "Times New Roman", serif; }

/*
  Typography-Classes
*/
.note {
  color: #666;
  font-style: italic;
}

.lead {
  color: #999;
  font-weight: normal;
  font-family: "Times New Roman", serif;
  font-style: italic;
  line-height: 24px;
}

.date {
  color: #bbb;
  font-weight: normal;
  font-variant: small-caps;
}


/* everything is constructed with a single background image */

/* root element for tabs */
#flowtabs {
	
	/* dimensions */
	width:580px;
	height:31px !important;
	margin:0 !important; 
	padding:0;	
	
	/* IE6 specific branch (prefixed with "_") */
	_margin-bottom:-2px;
}

/* single tab */
#flowtabs li { 
	float:left; 
	margin:0; 
	padding:0; 
	text-indent:0; 
	list-style-type:none;
	width: 25%;
	background-color: black;
}

/* a- tag inside single tab */
#flowtabs li a {
	display:block;
	height: 31px;   
	padding:0px;
	margin:0px;
	
	/* font decoration */
	color:#efefef;
	font-size:12px;
	line-height:33px;
	text-align:center;
	text-decoration:none;
}

#flowtabs li a:hover { background-color: #777; color: #eee; }


/* panes */
#flowpanes {
	background: #e9ddaf;
	width:580px;
	height:250px;	
}


/* single pane */
#flowpanes div {
	display:none;	
	color:#000;	
	margin:20px 40px;
}

/* some decorations for elements inside single pane */
#flowpanes div h2 {
	font-weight:normal;
	color:#ddd;
	letter-spacing:1px;
	margin:10px 0 0 0;
	font-size:22px;	
}

#flowpanes a {
	color:#cc9;		
	font-size:14px;
}

#flowpanes p, #flowpanes samp {
	color:#ccc;		
}

#flowpanes div.narrow {
	padding-right:160px;		
}

/*
  flow panes
*/
/* override the root element to enable scrolling */ 
#flowpanes { 
    position:relative; 
    overflow:hidden; 
    clear:both; 
} 
 
/* override single pane */ 
#flowpanes div { 
    float:left; 
    display:block; 
    width:580px; 
    cursor:pointer; 
    font-size:14px; 
} 
 
/* our additional wrapper element for the items */ 
#flowpanes .items { 
    width:20000em; 
    position:absolute; 
    clear:both; 
    margin:0; 
    padding:0; 
} 
 
#flowpanes .less, #flowpanes .less a { 
    color:#000 !important; 
    font-size:11px; 
}

.count {
  font-family: "Georgia,serif";
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
  color: #444;
  padding: 10px 5px;
}

hr {
  border: 1px solid #00ccff;
}
